:root {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0 auto;
    /* background-color: #F7F1ED; */
}

ul {
    margin: 15px 0 70px 0;
    padding: 0px;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 60px 0 0 0;
    color:#413939;
}

h2, h3 {
    margin: 2rem 0rem 1rem 0rem;
    color:#413939;
}

p {
    margin: 1rem 0rem 2rem 0rem;
    color: #413939;
}

hr {
    border-color: #98002E;
    width: 75%;
}

button {
    background-color: #98002E;
    color: white;
    border: none;
    margin: 0 auto;
    padding: 10px 45px 10px 45px;
    border-radius: 35px;
}

button:hover {
    background-color: white;
}

footer {
    margin: 0 auto;
    background-color: #98002E;
    color: white;
}

a {
    background-color: rgb(163, 36, 36);
    color: white;
    margin: 2px;
    padding: 8px 18px;
    border-radius: 25px;
}

a:hover {
    background-color: transparent;
    border: 1px solid #413939;
    color: #413939;
}

.header {
   margin: 0 auto;
}

.news {
    max-width: 375px;
    max-width: 1400px;
    margin: 5%;
    min-width: 90%;
}

.nicbg {
    background-color: #F4E2D6;
}

.nic {
    margin: 0 auto;
    padding: 5%;
    max-width: 90%;
}

.footer {
    height: 109px;
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
    align-items: center;
    flex-direction: column;
    color: white;
}

.grid-container {
    display: grid;
    gap: 2rem;
}

.logo {
    width: 50%;
    margin: 5% auto;
    display: block;
}

.footerlogo {
    padding: 2%;
    display: block;
}

.lab {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex-direction: column;
    min-width: 90%;
}

.pill {
    list-style: none;
}

.header-content {
    justify-content: center;
}

@media only screen and (min-width: 1320px) {
    body {
      /* background-color: lightblue; */
      font-size: 2rem;
      background-image: url('../images/icon-computer.png');
      background-repeat: no-repeat;
      background-position: 93% 2%;
    }
    hr {
       border: none;
    }
    h1 {
        text-align: start;
        padding: 0 0 0 5%;
    }
    ul {
        justify-content: flex-start;
        margin: 0px auto;
        padding: 3% 0 0 5%;
    }
    button {
        font-size: 2rem;
    }
    footer p {
        font-size: 1rem;
    }
    .logo {
        height: 25%;
        margin: 0;
        padding: 10% 0 0 5%;
        display: block;
    }
    .grid-container {
        grid-template: auto / 2fr 2fr 1fr;
    }
    .pizza {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    .mars {
        grid-row: 2 / 3;
    }
    .coffee {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .internet {
        margin: 0 auto;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
  }

  @media only screen and (min-width: 1920px) {
    .grid-container {
        grid-template: auto / 2fr 3fr 3fr;
    }
    .footerlogo {
        padding: 1%;
    }
    .pizza {
        grid-column: 2 / 3;
    }
    .mars {
        grid-column: 3 / 3;
        grid-row: 1 / 4;
    }
    .coffee {
        max-height: 65%;
        font-size: 1.5rem;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        background-color: #98002E;
        flex-direction: row;
    }
    .coffee img {
        max-height: 100%;
        margin-right: 20px;
    }
    .coffee h2, .coffee p {
        color: white;
        padding: 25px;
    }
    /* .content {
        flex-direction: column;
    } */
    .internet {
        
        margin: 0 auto;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
  }